<div class="container-*">
<div id="hidden-modals">

</div>

<div class="row justify-content-md-center flex-container">
    <div class="row exemple-flex" >
        <div class="col-md-12">
            {{ProjectTitle}}
        </div>
    
    </div>

    <div class="flex-logo-container" id="flex-example">
        <div><img src="../../../assets/unnamed.png" id="logo-img" alt="" srcset=""></div>
        <div><img src="../../../assets/Logo_site.png" id="logo-img" alt="" srcset=""></div>
        <div><img src="../../../assets/brown-woman-head-and-pink-leaf.png" id="logo-img" alt="" srcset=""></div>
        <div class="palet">Interface palette d'outil</div>

    </div>


<div class="row align-items-start picture">
    <div  class="col-md-10 true-picture">

        <img class="true-picture1"
        style="width: 1200px;height:800px;"id="my_picture"
        src="https://cdn.dribbble.com/users/603800/screenshots/4034024/attachments/924455/loader.gif">
        <div>
            <div class="flex-horizontal-button-container">
                <div><button class="btn btn-outline-info"><a href="http://www.hoopp.fr" style="text-align: center;">HOOPP</a></button></div>
        
            </div>
            <div class="flex-vertical-button-container">
                <!-- <div><img src="./assets/Asset 12.png" alt=""></div> -->
                <!--<div><button (click)="changeM()">Mq-1</button></div>
                <div><button>Mq-2</button></div>
                <div><button>Mq-3</button></div>-->
            </div>
        
            <div class="flex-vertical-button-container-up">
                <div id="show-puces"><button id="show-puces-button">-</button></div>
                <div class="addthis_toolbox">
                    <div>
                        <button>
                                <a href="https://www.addthis.com/bookmark.php" class="addthis_button" style="text-decoration:none;">
                                    <img src="http://s7.addthis.com/static/btn/sm-plus.gif" width="16" height="16" alt="Share" />Share</a>
        
                        </button>
                    </div>
                </div>


        
                <!-- <div><img src="./assets/fullscreen.png" alt=""></div> -->
        
            </div>
        </div>
        
        

    </div>


    <div class="col-md-2 modification-palet">
        <div><button class="btn-outline-primary" id="Integration-puce">Integration des puces</button></div>
        <div><button routerLink="/previsualise" routerLinkActive="active" class="btn btn-outline-success" id="previsualise">Prévisualiser</button></div>
        <div><button class="btn btn-outline-secondary">Telecharger version finale</button></div>
        here lies the dot:
        <ol id="points-list">
            <p>click on the integration button to begin putting points of interest on the animation</p>

        </ol>
        <div>
          <!--<button id="saving-button">
            Save
          </button>-->
        </div>


    </div>
</div>








</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript"
  src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5eccd2f5a696032b">
</script>
</div>
