<ng-container *ngIf="LoginStatus; else elseTemplate">

<!--
        <button class="example-icon" mat-button mat-flat-button color="primary" [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Profile</button>
          <button mat-menu-item (click)="onsubmitlogout()">Logout</button>

        </mat-menu>-->



</ng-container>
<ng-template #elseTemplate>


  <!--<button class="example-icon" mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Sign up</button>
    <<<button mat-menu-item (click)="onsubmitlogin()">Sign in</button>
     </mat-menu>-->
     <app-dropdownform-toolbar></app-dropdownform-toolbar>

</ng-template>
