<div id="hidden-modals">

</div>

<div class="flex-container">
    <div class="exemple-flex" >{{ProjectTitle}}</div>

    <div class="flex-logo-container" id="flex-example">
        <div>LOGO MOU</div>
        <div>LOGO promoteur</div>
        <div>LOGO archi</div>

    </div>


<div class="picture">
    <div  class="true-picture">

        <img class="true-picture2"
        style="width: 100%;height:1013px;"id="my_picture2"
        src="https://cdn.dribbble.com/users/603800/screenshots/4034024/attachments/924455/loader.gif">
    </div>


</div>



    <div class="flex-horizontal-button-container">
        <div><button><a href="http://www.hoopp.fr" style="text-align: center;">HOOPP</a></button></div>

    </div>

    <div class="flex-vertical-button-container">
        <!--<div><img src="./assets/Asset 12.png" alt=""></div>
        <div><button (click)="changeM()">Mq-1</button></div>
        <div><button>Mq-2</button></div>
        <div><button>Mq-3</button></div>-->
    </div>

    <div class="flex-vertical-button-container-up">
        <div id="show-puces"><button id="show-puces-button">-</button></div>
        <div class="addthis_toolbox">
            <div>
                <button>
                        <a href="https://www.addthis.com/bookmark.php" class="addthis_button" style="text-decoration:none;">
                            <img src="http://s7.addthis.com/static/btn/sm-plus.gif" width="16" height="16" alt="Share" />Share</a>

                </button>
            </div>
        </div>

        <!-- <div><img src="./assets/fullscreen.png" alt=""></div> -->

    </div>


</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript"
  src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5eccd2f5a696032b">
</script>
