<mat-toolbar color="primary">

  <mat-toolbar-row>

    <span>HOOPP</span>
    <span class="example-spacer"></span>

    <button mat-flat-button color="primary" class="btn btn-outline-primary" id="dropdownForm1">Home</button>

    <button mat-flat-button color="primary" class="btn btn-outline-primary" id="dropdownForm1">Project</button>

    <button mat-flat-button color="primary" class="btn btn-outline-primary" id="dropdownForm1">Products</button>

    <button mat-flat-button color="primary" class="btn btn-outline-primary" id="dropdownForm1">Contact</button>

    <span class="spacer"></span>

    <app-dropdownform-sign-up></app-dropdownform-sign-up>


    <app-dropdownform-log-in ></app-dropdownform-log-in>
</mat-toolbar-row>





</mat-toolbar>
