<div class="row">
  <div class="col-2">

  </div>
  <div class="col-1">
    <img src="../../../../assets/5308466.png" style="width: 100px;" alt="">

  </div>
  <div class="col-1">
    <img src="../../../../assets/bobbygrill.png" style="width: 75px;" alt="">
  </div>
  <div class="col-2">

  </div>
</div>
<div class="row">

  <div class="main-cover">
    <div class="up1">
      <button class="btn btn-lg ">
        <span class="material-icons">
          fullscreen
          </span>
      </button>
    </div>
    <div class="up2">
      <button class="btn btn-lg">
        <span class="material-icons">
          share
          </span>
      </button>
    </div>
    <div class="up3">
      <button class="btn btn-lg ">
        <span class="material-icons">
          add_circle
          </span>
      </button>
    </div>
    <iframe class="iframeclass" src="http://www.hoopp.fr/maquette/BELZ/iframe/BELZ/belz.html" height="675" width="1600" frameborder="0"></iframe>
    <div class="dow1">
      <div class="row">
        <div class="col">
          <img src="../../../../assets/Logo_site.png" width="140px" alt="">
        </div>
        <div class="col">
          <div ngbDropdown>
            <button class="btn btn-primary btn-lg" id="dropdownConfig" ngbDropdownToggle>versions</button>
            <div ngbDropdownMenu aria-labelledby="dropdownConfig">
              <button ngbDropdownItem>version 1</button>
              <button ngbDropdownItem>version 2</button>
              <button ngbDropdownItem>version 3</button>
            </div>
          </div>
        </div>

      </div>
      <div class="dow2">
        <div ngbDropdown>
          <button class="btn btn-primary btn-lg " id="dropdownConfig" ngbDropdownToggle>models</button>
          <div ngbDropdownMenu aria-labelledby="dropdownConfig">
            <button ngbDropdownItem>Model 1</button>
            <button ngbDropdownItem>Model 2</button>
            <button ngbDropdownItem>Model 3</button>
          </div>
        </div>
      </div>



    </div>
  </div>



</div>
