<div class="row">

      <div class="col">
        <button mat-flat-button color="primary" class="btn btn-outline-primary" id="dropdownForm1">Home</button>
      </div>
      <div class="col">
        <button mat-flat-button color="primary" class="btn btn-outline-primary" id="dropdownForm1">Project</button>
      </div>
      <div class="col">
        <button mat-flat-button color="primary" class="btn btn-outline-primary" id="dropdownForm1">Products</button>
      </div>
      <div class="col">
        <button mat-flat-button color="primary" class="btn btn-outline-primary" id="dropdownForm1">Contact</button>
      </div>
      <div class="col">
          <app-login-card></app-login-card>
      </div>
      <div class="col">
          <app-sign-up-card></app-sign-up-card>
      </div>

</div>
