<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button mat-flat-button color="primary" class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Sign up</button>
      <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="width: 350px;">
        <form #connect="ngForm" class="px-4 py-3" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div class="form-group">
            <label for="exampleDropdownFormEmail1">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="email@example.com" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}">

            <div class="invalid-feedback">
              <div>
                a valid email is required
              </div>
            </div>

          </div>




          <div class="form-group">
            <label for="exampleDropdownFormPassword1">Password</label>
            <input  formControlName="Password" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" [ngClass]="{'is-invalid':form.get('Password').touched && form.get('Password').invalid}">
            <div class="invalid-feedback">
              <div>
                a valid password is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleDropdownFormPassword1">Password</label>
            <input  formControlName="PasswordCheck" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="PasswordCheck" [ngClass]="{'is-invalid':form.get('PasswordCheck').touched && form.get('PasswordCheck').invalid}">
            <div class="invalid-feedback">
              <div>
                a valid password is required
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
        <div class="dropdown-divider"></div>
      </div>
    </div>
  </div>
</div>
